:root{
  --icon-size: 1.8rem;
}

@media (min-width: 768px) {
  :root{
    --icon-size: 2.6rem;
  }
}

@media (min-width: 1024px) {
  :root{
    --icon-size: 3rem;
  }
}

.card{
  height: 5.5rem;
  width: 11rem;
  border: 2px solid aliceblue;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 65% 35%;
  overflow: hidden;
  margin: 1rem;
}

.card-left{
  overflow: hidden;
  border-right: 3px solid aliceblue;
  position: relative;
}

.card-left p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}

.card-img{
  top: 0;
  height: 100%;
  width: 100%;
  transition: filter 1s;
  position: absolute;
}

.card-right{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: var(--icon-size);
  background-color: #111325;
}

@media (min-width: 520px) {
  .card{
    margin: 0 1rem 1rem 0;
  }
}

@media (min-width: 768px) {
  .card{
    height: 8rem;
    width: 16rem;
    margin: 0.5rem;
    border-radius: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .card{
    height: 10rem;
    width: 20rem;
    border-radius: 2rem;
  }
}

.card-right a{
  display: flex;
  color: aliceblue;
  transition: filter 1s;
}

.card-right a:hover{
  filter: drop-shadow(0 0 5px aliceblue);
}

.card-right button, .modal button{
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;
  color: white;
  height: var(--icon-size);
  font-size: var(--icon-size);
}

.show-name{
  animation: show 1s;
}

@keyframes show {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.modal{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid black;
  border-radius: 2rem;
  height: 15rem;
  width: 10.8rem;
  z-index: 15;
  background: radial-gradient(#252850, #111325);
  padding: 1.4rem;

  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  box-shadow: 0 0 20px 0 black;
}

.modal-none{
  visibility: hidden;
  opacity: 0;
}

.modal-title{
  margin: 1rem 0 0;
  font-size: 1rem;
}

.modal-list{
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  list-style-position: inside;
}

.modal button{
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
}

@media (min-width: 425px) {
  .modal{
    height: 15rem;
    width: 14rem;
  }

  .modal-title, .modal-list{
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .modal{
    padding: 2.5rem 2rem;
    height: 17rem;
    width: 15rem;
  }

  .modal-title, .modal-list{
    font-size: 1.25rem;
  }
}